**/__pycache__
.vscode
venv
dump.rdb
**/migrations
**/tests
*.pid*
*.log*
radiaTest-web/node_modules
radiaTest-server/celeryservice/flower/*
radiaTest-server/celeryservice/celerymain/*
radiaTest-server/celeryservice/celerybeat/*
radiaTest-server/server/static/avatar/*
radiaTest-messenger/celeryservice/celerymain/*
radiaTest-messenger/celeryservice/celerybeat/*
radiaTest-messenger/messenger/config/vnc_tokens/*
radiaTest-messenger/celeryservice/flower/*
radiaTest-web/src/assets/config/settings.js
radiaTest-worker/celeryservice/flower/*
radiaTest-worker/celeryservice/celerymain/*
radiaTest-worker/celeryservice/celerybeat/*
!**/.gitkeep
