**/__pycache__
.vscode
venv
**/migrations
**/tests
radiaTest-web/node_modules
radiaTest-server/deployment/gunicorn/*.log
radiaTest-server/celeryservice/flower
radiaTest-server/celeryservice/celerymain
radiaTest-server/celeryservice/celerybeat
radiaTest-server/server/config/vnc_tokens
radiaTest-web/src/assets/config/settings.js
radiaTest-worker/deployment/gunicorn/*.log
radiaTest-worker/celeryservice/flower
radiaTest-worker/celeryservice/celerymain
radiaTest-worker/celeryservice/celerybeat
